<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ url_for('static',filename='css/ie/html5shiv.js') }}"></script><![endif]-->
		<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.scrollgress.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.slidertron.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ url_for('static',filename='css/skel.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/style-xlarge.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static',filename='css/ie/v9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static',filename='css/ie/v8.css') }}" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="index.html">Workspace Reaper</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Layouts</a>
							<ul>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
								<li>
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Option 1</a></li>
										<li><a href="#">Option 2</a></li>
										<li><a href="#">Option 3</a></li>
										<li><a href="#">Option 4</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Workspace Reaper</h2>
					<p>We've destroyed {{ destructions }} Resources so far!</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">More Details</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Workspace Details</h2>
						<p>
						<table class="tg">
							<tr>
							  <th class="tg-0pky">Workspace</th>
							  <th class="tg-0pky">Resources Destroyed</th>
							  <th class="tg-0pky">Last Start Time</th>
							  <th class="tg-0pky">Last End Time</th>
							  <th class="tg-0pky">Length</th>
							</tr>
							{% for workspace in workspaces %}
							<tr>
							  <td class="tg-fymr">{{ workspace.workspaceName }}</td>
							  <td class="tg-0pky">{{ workspace.destruction_count }}</td>
							  <td class="tg-0pky">{{ workspace.runStarted }}</td>
							  <td class="tg-0pky">{{ workspace.complete }}</td>
							  <td class="tg-0pky">{{ workspace.runTime }}</td>
							</tr>
							{% endfor %}
						  </table>
						</p>
					</header>
			</section>
			
		
			
			
		<!-- Footer -->
			<footer id="footer">
				
			</footer>

	</body>
</html>